.features {
    padding-bottom: 47px;
}
.features__list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    .features__item {
        width: 270px;
        margin-left: 30px;
        margin-top: 30px;
    }
}

.icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--new-color);
    border-radius: 4px;
}
.features__title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}
.features__content {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--second-color);
}