.header {
    padding: 24px 0px 24px 0px;
    border-bottom: 1px solid var(--border);

    .header__container {
        display: flex;
        align-items: center;
    }

    .header__navigation {
        display: flex;
        align-items: center;
    }
}
.logo__link {
    font-family: 'Raleway', sans-serif;
    width: 145px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
    animation-duration: 2500ms;
    animation-iteration-count: 1;
}
.logo__link > span {
    color: var(--hover-color);
}
.navigation .menu__link .contacts__link .tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.menu__list {
    display: flex;
    align-items: center;
    padding: 0px;
}
.menu__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--main-color);
    fill: currentColor;
}
.menu__link {
    color: var(--second-color);
    transition: color 250ms var(--timing-func);
    text-decoration: none;
    box-shadow: 250ms var(--timing-func);
}
.menu__two {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0px;
    .contacts__link,
    .tel__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--second-color);
    transition: color 250ms var(--timing-func);
    }
}

.contacts__link,
.tel__link {
.email__icon {
        display: inline-block;
        align-items: center;
        width: 16px;
        height: 12px;
        margin-right: 10px;
    
        &:hover {
        color: var(--hover-color);
        }
    }
    .tel__icon {
        display: inline-block;
        align-items: center;
        width: 10px;
        height: 16px;
        margin-right: 10px;
    
        &:hover {
        color: var(--hover-color);
        }
    }
}
.menu__item:not(:last-child) {
    margin-right: 50px;
}
.current {
    top: 0;
    position: relative;
    color: var(--hover-color);
    &::after {
        content: '';
        position: absolute;
        bottom: -31px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--hover-color);
    }
}
.menu__link:hover,
.menu__link:focus,
.contacts__link:hover,
.contacts__link:focus,
.tel__link:hover,
.tel__link:focus {
    color: var(--hover-color);
}