.social__list {
    display: flex;
    justify-content: space-between;
  }
.social__list-icon {
    width: 20px;
    height: 20px;
    fill: var(--fill-color);
    transition: fill 250ms var(--timing-func);
  }
.social__list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--white-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms var(--timing-func),
    color 250ms var(--timing-func);

    &:hover,
    &:focus {
    background-color: var(--hover-color);
    .social__list-icon {
      fill: var(--white-color);
    }
  }
}
.team:nth-child(2n) {
    background-color: var(--new-color);
    margin-bottom: 0px;
  }
.team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

    .team__item {
      margin-left: 30px;
      margin-top: 30px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      flex-basis: calc((100% - 120px) / 4);
      background-color: var(--white-color);
    }  
  }

.team__card {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 30px;
    padding-bottom: 30px;

    .team__title {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.18;
      letter-spacing: 0.03em;
      color: var(--main-color);
    }
  .team__content {
      margin-bottom: 16px;
      color: var(--second-color);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.18;
      letter-spacing: 0.03em;
    }
}
.team,
.title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }
