.subscribe {
    margin-left: 93px;
}
.footer__form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__form-head {
    color: var(--white-color);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer__form-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--white-color);
    outline: none;
    transition: transform 250ms var(--timing-func);

    &:focus {
        border-color: var(--hover-color);
        transition: transform 250ms var(--timing-func);
    }
}
