@media screen and (max-width: 767px) {
    .mobile-menu {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--white-color);
        overflow: auto;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    
    &__container {
            position: relative;
            padding-top: 48px;
            padding-bottom: 48px;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__coose-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color;
            cursor: pointer;
            border: none;
            position: absolute;
            top: 10px;
            right: 0;
            width: 18px;
            height: 18px;
            background-color: transparent;
            padding: 0;
            fill: var(--close-color);
            &:focus {
        fill: var(--hover-color);
        transition: transform 250ms var(--timing-func);
            }
        }
            &__nav{
                font-weight: 500;
                font-size: 40px;
                line-height: 1.18;
                letter-spacing: 0.02em;
                margin-bottom: 302px;
                color: var(--main-color);
                cursor: pointer;
            }
            &__item{
                margin-bottom: 32px;
            }
            &__current {
                color: var(--hover-color);
            }
            &__link {
                color: var(--main-color);
                text-decoration: none;
            }
            &__contacts-list{
                align-items: center;
                margin-bottom: 64px;
                font-weight: 500;
                font-size: 24px;
                line-height: 1.16;
                letter-spacing: 0.02em;
                fill: var(--second-color);
                transition: color 250ms var(--timing-func);
            }
            &__social-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: -20px;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.22;
                letter-spacing: 0.02em;
                color: var(--hover-color);
            }
        }
    .contacts-link-two {
        text-decoration: none;
        color: var(--second-color);
    }
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .list .link__current {
        color: var(--hover-color);
    }
    .mobile-menu__item:not(:first-child) {
        margin-bottom: 32px;
    }
    .contacts-list__item-two {
        margin-top: 32px;
    }
    .social-list__item {
        margin-left: 20px;
    }
    .contacts-link-one {
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--hover-color);
    }
    .mobile-menu__link-one {
        color: var(--main-color);
        text-decoration: none;
    }
    .mobile-menu__link-one:hover,
    .mobile-menu__link-one:focus
    {
        color: var(--hover-color);
        transition: color 250ms var(--timing-func);
    }
}
@media screen and (min-width: 768px){
    .mobile-menu {
        display: none;
    }
}