
.modal__btn {
    min-width: 200px;
    border-radius: 4px;
    padding: 10px 32px;
    letter-spacing: 0.06em;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--hover-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: border-color 250ms var(--timing-func),
    color 250ms var(--timing-func), background-color 250ms var(--timing-func);
}